.Rproj.user
.Rhistory
.RData
ABCRF-PARAMETER-ESTIMATION.R
Agrarius.log
AgrariusABC.odt
AgrariusABCSuppl.odt
FigureS1.pdf
M.pdf
M_parameter_estimate.RData
Mpriorposterior.pdf
PGSM.pdf
PGSM_parameter_estimate.RData
PGSMpriorposterior.pdf
SS_obs_vs_sim_IM.pdf
T1.pdf
T1_parameter_estimate.RData
T1priorposterior.pdf
T2.pdf
T2_parameter_estimate.RData
T2priorposterior.pdf
TS.pdf
TS_parameter_estimate.RData
TSpriorposterior.pdf
X1.pdf
X1_parameter_estimate.RData
model_choice.RData
readms.output.R
ms
priorposteriorqqplots.pdf
reference_table.RData
reference_table.txt
target_sumstats.txt
theta1.pdf
theta1_parameter_estimate.RData
theta1priorposterior.pdf
theta2.pdf
theta2_parameter_estimate.RData
theta2priorposterior.pdf
thetaA.pdf
thetaA_parameter_estimate.RData
thetaApriorposterior.pdf
thetaF.pdf
thetaF_parameter_estimate.RData
thetaFpriorposterior.pdf
agrarius.xlsx
